
body #page, body .width {
    width: 97%; 
    min-width: 1200px;
    margin: 20px 3%;
    margin-right: 0;
    margin-bottom: 0;
}

body .inner_section {
   width: 94%;  
   margin: 0 3%; 
}

.region.region-highlighted {
    display: none; 
}

body .sidebars {
    width: 20%;
}

body #page #main {
   width: 80%; 
    
}

body #wrap {
    background: rgb(245,245,245);
    padding-bottom: 0;
}

body header .header_inner {
   width: 94%;  
   margin: 0 3%;   
}

.region-top {
    display: none;
}

.list-admin, .list-admin ul {
        margin: 0;
        padding: 0;
        
        list-style: none;
        margin-bottom: 15px;
        margin-right: 15px;
    }
    
    .list-admin ul  {
        margin: 0;
    }
    
    
    
    ul.list-admin>li {
        border: none;
        margin-bottom: 15px;
       
        
    }
    
    ul.list-admin>li>a {
       border-bottom: 1px #34495e solid; 
       font-weight: bold;
       background: rgba(255,255,255,0.7);
    }
   
    
    .list-admin a {
        
        display: block;
        padding: 5px 10px;
    
    }
    .list-admin a.active {
        background: #34495e;
        color: White;
    }
    
    #block-system-main >.panel, #block-system-main >.well.well-white {
        position: relative;
        top: -20px;
        bottom: -20px;
        border: 0;
        border-radius: 0;
        
        margin-bottom: -20px;
        padding-bottom: 20px;
    }
    
    .view-footer {
        text-align: center;
        padding-bottom: 20px;
    }
    
    table th {
        transition: background 0.4s ease-in-out;
    }
    
    table th img {
        margin-left: 5px;
    }
    
    table.sticky-header th {
        padding: 5px;
        background: #34495e;
        color: White;
        
    }    
    
    table.sticky-header th a {
        color: White;
    }
    
    .form-type-select.form-item-operation {
        margin-left: 10px;
    } 
    
    #page>.width {
               position: absolute;
            z-index: 400;
            width: auto;
            right: 15px;
            left: 50%;
            top: 10%;
            min-width: 0;
    }    