
#telefonmitarbeiter-set-plz h4 {
  margin-top: 0;
}

#telefonmitarbeiter-set-plz .well span {
  display: none;
  font-size: 0.8em;
  transition: all 0.4s;
}

#telefonmitarbeiter-set-plz input[type=checkbox] {
  margin-top: 20px;
  margin-left: -20px;
  display: none;
}

#telefonmitarbeiter-set-plz .form-type-checkboxes>label {
  font-size: 1.2em;
  margin-bottom: 20px;
} 

#telefonmitarbeiter-set-plz .form-type-checkbox {
    padding-left: 0;
}

#telefonmitarbeiter-set-plz .well.selected {
    background: White;
    border-color: #34495e;
}

#telefonmitarbeiter-set-plz .well.selected span {
   display: block;
   font-size: 3em;
   color: #34495e;
}